* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    overflow: hidden;
}

section.main-page {
    display: flex;
    flex-direction: row;

}

aside {
    height: 100vh;
    width: 25%;
    background-color: black;
    color: white;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    border-right: 1px solid white;
}

div.main {
    height: 100vh;
    width: 75%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./assets/bg-img.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 15px;
}

div.img-holder {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px whitesmoke;

}

h3.name {
    animation: bounce 2s ease-in-out 1s infinite;
    text-shadow: 0 1.5rem 1rem white;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

a.link {
    color: blue;
}

a.insta {
    color: hotpink;
}

a.github {
    color: white;
}

a.mail {
    color: red;
}

div.social-links {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    gap: 1rem;
    align-content: center;
    flex-wrap: wrap;
}

.btn {
    height: 40px;
    width: 40px;
    margin-left: auto;
    display: block;
    border-radius: 50%;
    outline: none;
    background-color: white;
    transition: transform 0.4s ease-in;
    transform: rotate(-90deg);

}

.btn:hover {
    cursor: pointer;
    transition: transform 0.4s ease-in;
    transform: rotate(45deg);
}

.tooltip {
    position: relative;
    display: inline-block;
    z-index: 1;

}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 350%;
    margin-left: -60px;
    font-weight: 700;
}

.tooltip .tooltip-text::after {
    content: '';
    position: absolute;
    bottom: 25%;
    right: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

div.more-options {
    display: none;
    background-color: white;
    height: fit-content;
    width: fit-content;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: auto;
    margin-right: 20px;
    transition: height 0.3s ease;
    font-family: monospace;
    font-weight: 500;
}

.opt {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 1;
}

.opt li {
    padding: 10px;
}

a.no-line {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: skyblue;
}

.opt li:hover {
    background-color: yellow;
}

div.rest {
    position: absolute;
    color: white;
    left: 50vw;
    top: 20vh;
    z-index: 1;
}

.subheading {
    font-size: 2rem;
}

.fa-hand {
    color: #ffd43b;
    animation: shake 4s ease-in-out 0.2s infinite;
}

@keyframes shake {
    0% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}

@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
    margin: 0px;
}

#container {
    position: relative;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    right: 40%;
    font-family: "Raleway", sans-serif;
    font-size: 6.6rem;
    color: white;
    text-align: center;

    user-select: none;
}

.modal {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    background-color: #fff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
}

.modal__close {
    background: transparent;
    border: 0;
}

.modal__header .modal__close:before {
    content: "\2715";
}

.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, .8);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.modal__btn-primary {
    background-color: #00449e;
    color: #fff;
}

div.ph-img-holder {
    display: none;
}




@keyframes mmfadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10%);
    }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}

.fa-html5 {
    color: #fc490b;
}

.fa-css3-alt {
    color: blue;
}

.fa-js {
    color: yellow;
}

.fa-bootstrap {
    color: blueviolet;
}

.fa-react {
    color: skyblue;
}

.fa-node {
    color: green;
}

.fa-database {
    color: #00684A;
}

div.part-skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mob-only {
    display: none;
}

@media screen and (max-width:800px) {

    html,
    body {
        overflow: hidden;
        position: relative;
    }

    section.main-page {
        flex-direction: column;

    }

    aside {
        display: none;
    }

    div.social-links {
        display: none;
    }

    div.rest {
        position: relative;
        color: white;
        left: 50vw;
        top: 20vh;
        z-index: 1;
    }

    div.main {
        height: 100vh;
        width: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./assets/bg-img.jpg) no-repeat;
        background-size: cover;
        overflow: hidden;
        padding: 15px;
    }

    .btn {
        height: 40px;
        width: 40px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 50%;
        outline: none;
        background-color: white;
        transition: transform 0.4s ease-in;
        transform: rotate(-90deg);

    }

    div.more-options {
        display: none;
        background-color: white;
        height: fit-content;
        width: fit-content;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        transition: height 0.3s ease;
        font-family: monospace;
        font-weight: 500;
    }

    div.img-holder {
        display: none;
    }



    div.rest {
        color: white;
        margin-left: auto;
        margin-right: auto;
    }

    #text1,
    #text2 {
        top: 2rem;
        position: absolute;
        width: 100%;
        display: inline-block;
        font-family: "Raleway", sans-serif;
        font-size: 3rem;
        color: white;
        user-select: none;
        right: 50%;
    }

    .modal__content {
        grid-template-columns: auto auto;
        grid-gap: 1rem;
    }

    div.rest {
        position: absolute;
        color: white;
        left: 50%;
        right: 50%;
    }

    .subheading {
        display: flex;
        justify-content: center;
        white-space: nowrap;
        font-size: 1.5rem;
        font-family: cursive;

    }

    nav.navbar {
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-right: 2rem;
        padding-left: 0.5rem;
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;

    }

    .down-btn {
        font-size: .875rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        background-color: #e6e6e6;
        color: rgba(0, 0, 0, .8);
        border-radius: .25rem;
        border-style: none;
        border-width: 0;
        cursor: pointer;
    }


    .mob-only {
        position: absolute;
        width: 100%;
        display: inline-block;
        font-family: "Raleway", sans-serif;
        font-size: 1.5rem;
        color: white;
        user-select: none;
        right: 50%;
        white-space: nowrap;
    }

    .mob-centering {
        margin-top: 3rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    div.ph-img-holder {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 150px;
        overflow: hidden;
        border: 2px solid white;
        border-radius: 50%;
        box-shadow: 0 0 4px 2px whitesmoke;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}